<!DOCTYPE html>
<html lang="en">
  <%- include("./head.ejs") -%>
  <body>
    <%- include("./nav.ejs") -%> <%- include("./rules.ejs") -%>
    <div class="home">
      <div class="game-icons">
        <p>✊</p>
        <p>✋</p>
        <p>✌️</p>
      </div>
      <div id="title">
        <h2>Rock - Paper - Scissors</h2>
      </div>
      <form action="/game/score" method="post">
        <fieldset>
          <legend>Number Of Players</legend>
          <input type="number" name="num1" />
        </fieldset>
        <button type="submit">Start Game</button>
      </form>
    </div>
    <%- include("./logic.ejs") -%>
  </body>
</html>
