<div class="rules-container" id="rules-info">
  <div class="rules">
    <div class="close" id="close">X</div>
    <div class="start">Click Start Button To Start the Game</div>
    <div class="rule1">
      <i class="fa fa-solid fa-arrow-right"></i>
      It is a Four Player Game
    </div>
    <div class="rule2">
      <i class="fa fa-solid fa-arrow-right"></i>
      Paper beats Rock
    </div>
    <div class="rule3">
      <i class="fa fa-solid fa-arrow-right"></i>
      Rock beats Scissors
    </div>
    <div class="rule4">
      <i class="fa fa-solid fa-arrow-right"></i>
      Scissors beats Paper
    </div>
    <div class="rule5">
      <i class="fa fa-solid fa-arrow-right"></i>
      After 50 Rounds Winner Will be decided
    </div>
  </div>
</div>
