.game {
  text-align: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 700px) {
  .game {
    .players {
      margin: 0 auto;
      text-align: center;
      flex-wrap: wrap;
    }
    .player {
      width: 40%;
    }
    .rounds {
      margin-bottom: 10px;
      a {
        padding: 15px 25px;
      }
    }
  }
}
